.scrollContainer {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

.scrollContainer::-webkit-scrollbar {
  height: 8px;
}

.scrollContainer::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.scrollContainer::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.scrollContainer::-webkit-scrollbar-thumb:hover {
  background: #555;
}
